<ion-header>
    <ion-toolbar>
        <ion-img src="../../assets/img/k.png"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-title>
    Se Connecter
</ion-title>
<div class="main">
    <div class="logForm">
        <form [formGroup]="logFormGroup" (ngSubmit)="logForm()">
            <ion-input formControlName="email" type="text" name="mail" placeholder="Identifiant (adresse mail)" required></ion-input>
            <ion-input formControlName="password" type="password" name="password" placeholder="Mot de passe" required></ion-input>
            <div class="log_error" *ngIf="isSubmitted && ( errorControl.email.errors?.required || errorControl.email.errors?.pattern || errorControl.password.errors?.required )">
                <span *ngIf="isSubmitted && errorControl.email.errors?.required">
          L'adresse mail est obligatoire.<br>
          </span>
                <span *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Merci de rentre une adresse mail correcte.<br>
          </span>
                <span *ngIf="isSubmitted && errorControl.password.errors?.required">
          Le mot de passe est obligatoire.
          </span>
            </div>
            <button ion-button type="submit" block>Connexion ></button>
        </form>

    </div>
    <div class="inscription">
        <ion-title>
            Pas Encore Inscrit ?
        </ion-title>
        <button ion-button [routerLink]="['/register']" block>Inscription ></button>
    </div>
</div>