<ion-header>
  <ion-toolbar>
    <ion-title class="custom-font">
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title color="primary" class="custom-font">vos favoris</ion-card-title>
      <ion-chip color="secondary">
        <ion-label color="primary">Catégories</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-label>Articles</ion-label>
    </ion-chip>
      <ion-chip>
      <ion-label>Membres</ion-label>
    </ion-chip>

    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
