<ion-header>
  <ion-toolbar>
    <ion-title class="custom-font">
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stories">
    <div class="story">
      <div class="add_story">
        <img src="../../assets/img/aurelien.png">
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </div>
      <p style="color: #86888f;">libra.laura</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../assets/img/assets/1.jpg">
      </div>
      <p>susan_mda</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../assets/img/assets/3.jpg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../assets/img/assets/3.jpg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../assets/img/assets/15.jpg">
      </div>
      <p>conditoris</p>
    </div>
  </div>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title color="primary" class="custom-font">vos favoris</ion-card-title>
      <ion-chip color="secondary">
        <ion-label color="primary">Catégories</ion-label>
      </ion-chip>
      <ion-chip>
      <ion-label>Articles</ion-label>
    </ion-chip>
      <ion-chip>
      <ion-label>Membres</ion-label>
    </ion-chip>

    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
